[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gspread = "==3.1.0"
dialogflow = "*"
requests = "*"
pytest = "==4.0.0"
pytest-mock = "==1.10.0"
behave = "==1.2.6"
responses = "==0.10.4"
pylint = "*"
"oauth2client" = "*"
pyOpenSSL = "*"
flask = "*"
gunicorn = "*"
autopep8 = "*"
awesome-slugify = "*"
redis = "*"
pytest-cov = "*"
raven = "*"
sentry-sdk = {extras = ["flask"],version = "==0.7.14"}

[dev-packages]

[requires]
python_version = "3.7"
